<!doctype html>
<html lang="en">
  <head>
    <title>Add a Task</title>
  </head>
  <body>
    <h1>Task Manager</h1>
    <form>
        <label for = "title">Task Name:</label><br>
        <input type = "text" id = "title" name = "title"><br>

        <label for = "description">Task Description:</label><br>
        <input type = "text" id = "description" name = "description"><br>

        <label for = "checklist_item">Sub-task:</label><br>
        <input type = "text" id = "checklist_item" name = "cheklist_item"><br>
        
        <label for = "due_date">Due Date:</label><br>
        <input type = "date" id = "due_date" name = "due_date"><br>
        <input type = "submit" value = "Submit">
    </form>
    <a href="/">Cancel</a>
    <a href="/">Submit</a>
  </body>
</html>