{% extends "layout.html" %}
{% block title %}Task Manager - {{ user }}{% endblock %}

{% block home_status %}{% endblock %}
{% block user_status %}active{% endblock %}
{% block settings_status %}{% endblock %}
{% block add_status %}{% endblock %}

{% block content %}
<p>{{ user }}'s Tasks</p>
<ul>
  {% for task in tasks %}
    <li>{{ task.title }} - {{ 'Completed' if task.completed else 'Pending' }}</li>
    <ul>
      {% if task.checklist_item %}
        <li>{{ task.checklist_item }}</li>
      {% endif %}
    </ul>
    {% if task.description %}
      <li>{{ task.description }}</li>
    {% endif %}
    {% if task.due_date %}
      <li>{{ task.due_date }}</li>
    {% endif %}
    <br>
  {% endfor %}
</ul>
<a href="/add-task">Add a new task</a>
{% endblock %}